{% extends "header.html" %} {% block content %}
<a href="/profile" class="btn btn-light back-btn" type="button">Go back</a>
<div class="container">
	<h2 class="class-heading">Dansk</h2>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Subject</th>
					<th scope="col">Body</th>
					<th scope="col">Modufied</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Romantikken</td>
					<td>
						Romantikkens afgørende dyder er Intuition(For at der
						rent faktisk...
					</td>
					<td>19/03-2020 at 20:15</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Romantikken</td>
					<td>
						Den såkaldte organicisme eller organismetanke går ud på,
						at...
					</td>
					<td>25/02-2020 at 04:17</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Dokumentar</td>
					<td>
						Dokumentaren handler om MKs barndom, hans forældre og...
					</td>
					<td>21/02-2020 at 15:01</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
