{% extends "header.html" %} {% block content %}
<a href="/read_note?='{{ note_info['note_id'] }}'" class="btn btn-light back-btn" type="button"
	>Go back</a
>
<div class="container">
	<h1 class="class-heading">Editing note</h1>
	<form action="submit_note_edit" method="POST">
		<div class="form-group">
			<input type="hidden" name="note_id" id="correct-class-hidden" value="{{ note_info['note_id'] }}">
			<label for="exampleFormControlInput1">Enter subject</label>
			<input
				type="text"
				class="form-control"
				id="exampleFormControlInput1"
				name="subject"
				value="{{ note_info['subject'] }}"
			/>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">The note:</label>
			<textarea
				class="form-control"
				id="exampleFormControlTextarea1"
				rows="7"
				name="body"
			>
{{ note_info['body'] }}
		</textarea
			>
		</div>
		<!-- !<button type="button" class="btn btn-primary"></button> -->
		<!-- Button trigger modal -->
		<a href="/read_note?='{{ note_info['note_id'] }}'" type="button" class="btn btn-secondary"
			>Cancel</a
		>
		<button
			type="submit"
			class="btn btn-primary"
			data-target="#exampleModalCenter"
		>
			Submit
		</button>
		<a
			href="/remove_note?='{{ note_info }}'"
			type="button"
			class="btn btn-danger"
			>Trash</a
		>
	</form>
</div>
{% endblock content %}
