<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='main.css') }}"
		/>
		{% if title != "login" and title != "signup" and title !=
		"login_profile" and success==true %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			{% if title == "login" or title == "signup" %}
			<a class="navbar-brand" href="/">NoteSort</a>
			{% elif success %}
			<a class="navbar-brand" href="/profile">NoteSort</a>
			{% endif %}
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li> -->
				</ul>
				<form class="form-inline my-2 my-lg-0 mr-sm-2">
					<input
						class="form-control mr-sm-2"
						type="search"
						placeholder="Search"
						aria-label="Search"
					/>
					<button
						class="btn btn-outline-success my-2 my-sm-0"
						type="submit"
					>
						Search
					</button>
				</form>
				<ul class="navbar-nav mr-sm-0">
					<li class="nav-item active">
						<a class="btn btn-outline-danger" href="/logout"
							>Log out <span class="sr-only">(current)</span></a
						>
					</li>
				</ul>
			</div>
		</nav>
		{% else %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			{% if title == "login" or title == "signup" %}
			<a class="navbar-brand" href="/">NoteSort</a>
			{% else %}
			<a class="navbar-brand" href="/profile">NoteSort</a>
			{% endif %}
		</nav>
		{% endif %}
		<title>NoteSort</title>
	</head>
	<body>
		{% block content %}{% endblock content %}
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!-- <script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script> -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"
		></script>
	</body>
</html>
