{% extends "header.html" %} {% block content %}
<a href="/profile" class="btn btn-light back-btn" type="button">Go back</a>
<div class="container">
	<form action="submit_note" method="POST">
		<div class="form-group">
			<label for="exampleFormControlInput1">Enter subject</label>
			<input
				type="text"
				class="form-control"
				id="exampleFormControlInput1"
				placeholder="Subject"
				name="subject"
			/>
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">The note:</label>
			<textarea
				class="form-control"
				id="exampleFormControlTextarea1"
				rows="3"
				name="body"
			></textarea>
		</div>
		<!-- !<button type="button" class="btn btn-primary"></button> -->
		<!-- Button trigger modal -->
		<button
			type="button"
			class="btn btn-primary"
			data-toggle="modal"
			data-target="#exampleModalCenter"
			onclick="get_class_prediction1()"
		>
			Submit
		</button>
		<script>
			function get_class_prediction1() {
				let body = document.getElementById(
					'exampleFormControlTextarea1'
				).value;

				$.ajax({
					url: '/get_class_prediction?=' + body,
					cache: false,
					type: 'GET',
					success: function(data) {
						console.log('shit works!' + data);
						let class_name = data['class_name'];
						let wrong_class_name1 = data['other_classes1'];
						let wrong_class_name2 = data['other_classes2'];
						$('#correct-class').empty();
						$('#correct-class').text(class_name);

						$('#wrong-class-name1').empty();
						$('#wrong-class-name1').text(wrong_class_name1);
						$('#wrong-class-name2').empty();
						$('#wrong-class-name2').text(wrong_class_name2);

						let wrong_class_name1_inp = document.getElementById(
							'wrong-class-name1-inp'
						);
						wrong_class_name1_inp.value = wrong_class_name1;

						let wrong_class_name2_inp = document.getElementById(
							'wrong-class-name2-inp'
						);
						wrong_class_name2_inp.value = wrong_class_name2;

						let class_name_hidden = document.getElementById(
							'correct-class-hidden'
						);
						class_name_hidden.value = class_name;
					},
					error: function(err) {}
				});
			}
		</script>
		<a href="/profile" type="button" class="btn btn-danger">Trash</a>
		<!-- Modal -->
		<div
			class="modal fade"
			id="exampleModalCenter"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							Is this the right place to put the note?
						</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body class-guess-container">
						<div
							type="button"
							class="btn btn-secondary class-guess"
							id="correct-class"
						>
							Dansk
						</div>
						<!-- !---------------------------------------------------- -->
						<input
							type="hidden"
							name="class_name"
							id="correct-class-hidden"
							value="Dansk"
						/>
						<!-- !---------------------------------------------------- -->
					</div>
					<div class="modal-footer">
						<button
							id="spoiler_knap"
							type="button"
							class="btn btn-danger"
							onclick="show_spoiler()"
						>
							No
						</button>
						<script type="text/javascript">
							function show_spoiler() {
								var x = document.getElementById(
									'dropdownFooter'
								);
								if (x.style.display === 'none') {
									x.style.display = 'block';
								} else {
									x.style.display = 'none';
								}
								var knap = document.getElementById(
									'spoiler_knap'
								);
								if (x.style.display === 'block') {
									document.querySelector(
										'#spoiler_knap'
									).innerText = 'Woops';
								} else {
									document.querySelector(
										'#spoiler_knap'
									).innerText = 'No';
								}
							}
						</script>
						<script>
							function wrong_class_name1() {
								let wcn = document.getElementById(
									'wrong-class-name1-inp'
								).value;
								let class_name_hidden = document.getElementById(
									'correct-class-hidden'
								);
								class_name_hidden.value = wcn;
								$('#correct-class').empty();
								$('#correct-class').text(wcn);
							}
						</script>
						<script>
							function wrong_class_name2() {
								let wcn = document.getElementById(
									'wrong-class-name2-inp'
								).value;
								console.log(wcn)

								let class_name_hidden = document.getElementById(
									'correct-class-hidden'
								);
								class_name_hidden.value = wcn;
								$('#correct-class').empty();
								$('#correct-class').text(wcn);
							}
						</script>
						<button type="submit" class="btn btn-primary">
							Yes
						</button>
					</div>
					<div
						class="modal-footer"
						style="display:none;"
						id="dropdownFooter"
					>
						<div class="dropdown">
							<button
								class="btn btn-info dropdown-toggle"
								type="button"
								id="dropdownMenuButton"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							>
								Select right class
							</button>
							<div
								class="dropdown-menu"
								aria-labelledby="dropdownMenuButton"
							>
								<a
									class="dropdown-item"
									href="#"
									id="wrong-class-name1"
									onclick="wrong_class_name1()"
									>Action</a
								>
								<input
									type="hidden"
									name="wrong_class_name1_inp_name"
									id="wrong-class-name1-inp"
									value="Action"
								/>
								<a
									class="dropdown-item"
									href="#"
									id="wrong-class-name2"
									onclick="wrong_class_name2()"
									>Action</a
								>
								<input
									type="hidden"
									name="wrong_class_name2_inp_name"
									id="wrong-class-name2-inp"
									value="Action"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
