{% extends "header.html" %} {% block content %}

<div class="bg img-fluid"></div>

<div class="container">
	<a
		href="/take_notes"
		type="button"
		class="btn btn-primary btn-lg btn-block center "
		style="width:50%; margin-top:1.5rem"
	>
		New note
	</a>
	<div class="card-deck" style="margin-top:1.5rem">
		<a href="/showclass?='1'" class="card class-card">
			<img
				class="card-img-top"
				src="../static/Images/dansk.png"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title">Dansk</h5>
				<p class="card-text">
					This is a longer card with supporting text below as a
					natural lead-in to additional content. This content is a
					little bit longer.
				</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</a>
		<a href="/showclass?='1'" class="card class-card">
			<img
				class="card-img-top"
				src="../static/Images/matematik.jpg"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title">Matematik</h5>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to
					additional content.
				</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</a>
		<a href="/showclass?='1'" class="card class-card">
			<img
				class="card-img-top"
				src="../static/Images/byggeri & energi.jpg"
				alt="Card image cap"
			/>
			<div class="card-body">
				<h5 class="card-title">Byggeri & Energi</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural
					lead-in to additional content. This card has even longer
					content than the first to show that equal height action.
				</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</a>
	</div>
</div>

{% endblock content %}
