{% extends "student/studentlayout.html" %}

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark fixed-left" style="background-color: rgb(1, 121, 138); padding: 0;">
	<span class="navbar-brand text-center" href="#" style="width: 100%; padding: 8px 16px; margin: 0; background-color: rgb(0, 101, 114);"><img src="/static/img/logo_small.png" alt="" style="max-width: 128px;">
		<h3 class="text-center" style="color: white;">{{ utils.Subject.name(subject['subjectid']) }} {{ subject['level'] }}</h3>
	</span>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<li class="nav-item left">
				<a class="nav-link" href="/subject/{{ subject['id'] }}">Præsentationsmappe</a>
			</li>
			<li class="nav-item left">
				<a class="nav-link" href="/subject/{{ subject['id'] }}/material">Materialesamling</a>
			</li>
		</ul>
	</div>
</nav>

<div class="content-wrapper" style="padding: 2rem; background-color: #FFF; margin-top: 5rem; margin-left: 2.5%; width: 95%; border-top:rgb(1, 121, 138) 4px solid; border-radius: 4px;">
	<h2>Præsentationsmappe</h2>
	{% for topic in subject['topics'] %}
		<form action="aflever" method="POST" enctype="multipart/form-data">
			<input type="number" id="submitid" name="submitid" value="{{ subject['id'] }}" style="display: none;">
			<button type="button" id="colactivebutton" class="collapsible">{{ topic['name'] }}</button>
			<div class="content row" style="margin-top: .4rem;">
				{% for task in topic['tasks'] %}
					{% set files = data.getTaskSubmission(userdata['id'], task['id']) %}
					<!-- Submit modal -->
					<input type="number" name="submittask" id="submittask" value="{{ task['id'] }}" style="display: none;">
					<div class="modal fade" id="modal-submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Aflever opgave</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<input type="file" class="form-control" name="file" id="file">
									</div>
									
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Tilbage</button>
										<button name="AFLEVER" type="submit" class="btn btn-primary">Aflever</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<table class="table">
						<thead class="thead-light">
							<tr>
								<th class="col">{{ task['name'] }} ({{ task['date'] }})</th>
								<th class="col"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-submit">Aflever</button></th>
							</tr>
						</thead>
						<tbody>
							{% if files|length == 0 %}
								<tr>
									<td>
										<i>Ingen filer endnu</i>
									</td>
								</tr>
							{% else %}
								{% for file in files %}
								<tr>
									<td>
										<a href="../../uploads/{{ file['filename'] }}" download>{{ file['filename'] }}</a>
									</td>
									<td>
										<!-- Confirm file deletion dialogue -->
										<div class="modal fade" id="modal-delete-file" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<input type="text" name="delete-file-name" id="delete-file-name" value="{{ file['name'] }}" style="display: none;">
											<input type="number" name="delete-file-id" id="delete-file-id" value="{{ file['id'] }}" style="display: none;">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Slet aflevering?</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Tilbage</button>
															<button name="SLET_AFLEVERING" type="submit" class="btn btn-primary">Slet fil</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<button type="button" data-toggle="modal" data-target="#modal-delete-file">&#10006;</a>
									</td>
								</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				{% endfor %}
			</div>
			{% if not loop.last %}
				<hr class="separator" style="width: 100%;">
			{% endif %}
		</form>
	{% endfor %}

	{% if status=="SUCCESS" %}
	<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
		<strong>Afleveret!</strong> Opgaven er blevet afleveret.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% elif status=="SUCCESS_DEL" %}
	<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
		<strong>Slettet!</strong> Opgaven er blevet slettet.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}

</div>

<link rel="stylesheet" href="/static/css/student.css">
<link rel="stylesheet" href="/static/css/fileupload.css">

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("colactive");
			var content = this.nextElementSibling;
			var parent = content.parentElement;
			var parentparent = content.parentElement.parentElement;
			if (content.style.maxHeight) {
				content.style.maxHeight = null;
			} else {
				if (parentparent.id != "form") {
					parentparent.style.maxHeight = (parentparent.scrollHeight + parent.scrollHeight + content.scrollHeight + 65) + "px";
				}
				if (parent.id != "form") {
					parent.style.maxHeight = (parent.scrollHeight + content.scrollHeight + 65) + "px";
				}
				if (content.id != "form") {
					content.style.maxHeight = (content.scrollHeight + 65) + "px";
				}

			}
		});
	}
</script>

{% endblock content %}