/*TODO Clean up this CSS file.*/

/* Makes a new font from the font folder */

/* @font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf')
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.center {
  margin: auto;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.log-in-container {
  max-width: 30%;
}
.sign-up-container {
  max-width: 30%;
}

.bg {
  width: 100vw;
  height: 40%;
  background: url("../static/Images/notes.jpg");
  background-size: cover;
}

@media only screen and (max-width: 1020px) {
  .log-in-container {
    max-width: 60%;
  }
  .sign-up-container {
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .log-in-container {
    max-width: 90%;
  }
  .sign-up-container {
    max-width: 90%;
  }
}