{% extends "layout.html" %}
{% block content %}
<h2>Bestemmelse af cirkelbue</h2>
<div>
Herunder ses informationer til en cirkel \( C \):
<br>
Formel for cirkelbue:
\[L_bue = (v / 180) π * r \]
For \( C1 \) gælder det:
\[ Radius: {{ "%.2f"|format(r) }} \]
\[ Vinkel: {{"%.2f"|format(angle)}}º\]

Bestem cirkelbuens længde:
<br>

</div>
<div class="form-group">
  <form class="form-control" action="/submit_answer?oid=4&qid={{ opg_id }}" method="post">
    <label class="form-control-static" for="text">Skriv svaret uden decimaler:</label>
    <input class="form-control" type="text" rows="5" name="svar"></input>
    <button class="form-control" type="submit" name="button">Send</button>
  </form>
</div>

<div>
  <h3>Spoiler?</h3>
  <button id="spoiler_knap" class="form-control" onclick="show_spoiler()">Vis svar</button>
</div>

<script type="text/javascript">
  function show_spoiler() {
    var x = document.getElementById("result");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    var knap = document.getElementById("spoiler_knap");
    if (x.style.display === "block") {
      document.querySelector('#spoiler_knap').innerText = 'Skjul svar';
    } else {
      document.querySelector('#spoiler_knap').innerText = 'Vis svar';
    }
  }
</script>

<div id="result" style="display:none">
  Cirkelbuen har en længde på: {{ length }}
</div>

{% endblock content %}
