/*TODO Clean up this CSS file.*/

/* Makes a new font from the font folder */

/* @font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf')
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.content {}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content .log-in-container {
  /* max-width: 50%; */
}