/*TODO Clean up this CSS file.*/

.card {
  max-width: 1000px;
  width: 100%;
  display: block;
}

.user-help-list-content .card {
  max-width: none;
  align-items: center;
  width: 100%;
  display: block;
}

.joinroom {
  width: 100%;
  display: inline;
}

.joinroom * {
  display: inline;
  border: 0;
}

.joinroom input {
  width: calc(100% - 140px);
}

.joinroom button {
  height: 50px;
  display: inline-block;
  /* position: absolute; */
  right: 0px;
  margin-top: 10px;
  width: 130px;
}

.room-title {
  font-size: 50px;
  color: #FFFFFF;
  margin-left: 50px;
}

.card .room-title .star-favorite{
  display: inline-block;
  position: relative;
  background: #999999;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: 30px;
  width: 30px;
}
.card .room-title .is-star-favorite{
  display: inline-block;
  position: relative;
  background: #ffae00;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: 30px;
  width: 30px;
}
.user-help-list-content .need-help {
  width: 100%;
}

.user-help-list-content .need-help * {
  margin-top: 20px;
  border: 0;
  justify-content: center;
}

.user-help-list-content .need-help button {
  background: #F53B57;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 55.5px;
  height: 42px;
  display: inline-block;
  right: 0px;
  width: 155px;
  font-size: 18.8px;
  color: #ffffff;
}

.user-help-list-content .need-help div {
  display: inline-block;
  width: 280px;
  background-color: #d2dae2;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.user-help-list-content .need-help div * {
  margin-top: 0;
  background-color: #1E272E;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  border-radius: 10px;
  border: 0;
}

.needing-help {
  max-width: none;
  width: calc(100% - 58px);
  text-align: center;
  /* display: inline; */
  background-color: #1E272E;
  position: fixed;
  height: 50px;
  z-index: 100;
}

.needing-help p {
  text-align: center;
  /* display: inline-block; */
  padding-top: 7px;
  margin: 0;
}

.needing-help .card-title {
  color: #FFFFFF;
}

.user-help-list-content .card-body {
  display: block;
  background-color: #1E272E;
  margin-top: 20px;
  border-radius: 5px;
  height: calc(100vh - 340px);
  overflow-y: scroll;
  border: 5px solid #1E272E;
  max-width: none;
  margin-right: 20px;
  margin-left: 20px;
}

.user-help-list-content .card-body .favroom {
  position: relative;
  top: 10px;
}

.user-help-list-content .card-body .favroom .room:nth-of-type(1) {
  margin-top: 70px;
}

.user-help-list-content .card-body .favroom .room {
  background-color: #d2dae2;
  height: 50px;
  width: calc(100% - 10px);
  display: inline-block;
  border-radius: 9px;
  margin: 5px;
}

.user-help-list-content .card-body .favroom .room .room-count {
  border-radius: 8.5px 0px 0px 8.5px;
  display: inline-block;
  width: 75px;
  height: 50px;
  padding: 12.5px;
  padding-left: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  background-color: #f0f0f0;
}

.user-help-list-content .card-body .favroom .room .room-name {
  margin-left: 64px;
  display: inline-block;
  width: calc(100% - 285px);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.user-help-list-content .card-body .favroom .room .help-stat {
  display: inline-block;
  width: 130px;
  border-left: 2px solid black;
  text-align: center;
  position: relative;
  top: -21px;
  margin: 0;
}

.user-help-list-content .card-body .favroom .room .help-stat p {
  margin: 0;
}

.user-help-list-content .card-body .favroom .room .help-stat a {
  display: none;
}

.user-help-list-content .card-body .favroom .room #cur-usr.help-stat:hover p {
  display: none;
}

.user-help-list-content .card-body .favroom .room #cur-usr.help-stat:hover a {
  text-decoration: none;
  display: inline;
  background: #F53B57;
  border-radius: 21.5px;
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
}

.sort {
  max-width: 950px;
  width: calc(100% - 358px);
  text-align: center;
  display: inline;
  background-color: #1E272E;
  position: fixed;
  height: 50px;
  z-index: 100;
}

.sort p {
  text-align: center;
  display: inline-block;
  width: 100px;
  padding-top: 7px;
  margin: 0;
}

.sort div {
  display: inline-block;
  width: 200px;
  position: absolute;
  background-color: #d2dae2;
  right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.sort div * {
  background-color: #1E272E;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  border-radius: 10px;
  border: 0;
}

.card-body {
  display: block;
  background-color: #1E272E;
  margin-top: 20px;
  border-radius: 5px;
  height: calc(100vh - 260px);
  overflow-y: scroll;
  border: 5px solid #1E272E;
  max-width: 1000px;
}

.card-body .favroom {
  position: relative;
  top: 10px;
}

.card-body .favroom .room:nth-of-type(1) {
  margin-top: 50px;
}

.card-body .favroom .room {
  background-color: #d2dae2;
  height: 50px;
  width: calc(100% - 10px);
  display: inline-block;
  border-radius: 9px;
  margin: 5px;
}

.card-body .favroom .room .room-name {
  display: inline-block;
  width: calc(100% - 140px);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body .favroom .room .users {
  display: inline-block;
  width: 130px;
  border-left: 2px solid black;
  text-align: center;
  position: relative;
  top: -12px;
  margin: 0;
}

.card-body .favroom .room .users p {
  margin: 0;
}

.card-body .favroom .room .users a {
  display: none;
}

.card-body .favroom .room .users:hover p {
  display: none;
}

.card-body .favroom .room .users:hover a {
  text-decoration: none;
  display: inline;
  background: #F53B57;
  border-radius: 21.5px;
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
}

.sidebar {
  width: 300px;
  height: calc(100vh - 120px);
  position: fixed;
  right: 0px;
  top: 60px;
}

.sidebar .recents {
  background-color: #1E272E;
  margin: 30px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  height: calc(100% - 100px);
  color: #fff;
}

.sidebar .recents h2 {
  text-align: center;
}

.sidebar .recents .newest {
  background-color: #d2dae2;
  border-radius: 5px;
  color: #000;
  height: 70px;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar .recents .newest .star-favorite{
  display: none;
  position: relative;
  align-items: center;
  height: 75px;
  width: 30px;
}
.sidebar .recents .newest .is-star-favorite{
  display: none;
  position: relative;
  align-items: center;
  height: 75px;
  width: 30px;
}

.sidebar .recents .newest .star-favorite a {
  display: inline-block;
  position: relative;
  background: #999999;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: 30px;
  width: 30px;
  margin-bottom: 6.5px;
}
.sidebar .recents .newest .is-star-favorite a {
  display: inline-block;
  position: relative;
  background: #ffae00;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: 30px;
  width: 30px;
  margin-bottom: 6.5px;
}

.sidebar .recents .newest .recent-info {
  display: inline-block;
  margin-top: 7.5px;
  margin-bottom: 0px;
}

.sidebar .recents .newest .recent-info .recent-room-name {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
  padding: 0 10px;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

.recent-room-name:visited {
  color: #000000;
  text-decoration: none;
}

.sidebar .recents .newest .recent-info .recent-room-timestamp {
  display: inline-block;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
}

.sidebar .recents .newest:hover {
  text-align: left !important;
}

.sidebar .recents .newest:hover .star-favorite {
  display: inline-block;
  position: relative;
  margin-left: -5px;
  height: 30px;
  width: 30px;
}
.sidebar .recents .newest:hover .is-star-favorite {
  display: inline-block;
  position: relative;
  margin-left: -5px;
  height: 30px;
  width: 30px;
}

.sidebar .recents .newest:hover .recent-info {
  width: 175px;
}

.sidebar .recents .newest:hover .recent-info * {
  width: 173px;
}

.sidebar .recents .newest:hover .recent-info .recent-room-name {
  width: 173px;
}

.room-name a {
  color: #000000;
  text-decoration: none;
}

.room-name a:visited {
  color: #000000;
  text-decoration: none;
}

@media (min-width: 1340px) {
  .content {
    margin-left: calc((50vw - 170px) - 500px);
    margin-right: calc((50vw - 170px) - 500px);
  }
}

@media (max-width: 550px) {
  .joinroom {
    width: 100%;
    display: inline;
  }
  .joinroom * {
    display: inline;
  }
  .joinroom input {
    width: calc(100% - 180px);
  }
  .joinroom button {
    height: 50px;
    position: absolute;
    right: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 1360px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-left: auto;
    margin-right: auto;
  }
  .sort {
    width: 90vw;
  }
  .card-body, .card, .sort {
    margin-left: 2vw;
    max-width: 96vw!important;
  }
}

@media (max-width: 670px) {
  .sort p, .sort {
    text-align: left!important;
  }
  .sort div {
    padding-left: 5px;
    width: 133px;
  }
  .card-body .favroom .room:nth-of-type(1) {
    margin-top: 75px;
  }
}