{% extends "header.html" %}
{% block content %}
<div id="parent">
    <div class="container" id="signin"
        style="padding: 20px; background-color: #1E272E; border-radius: 40px; max-width: 400px;" align="center">
        <br>
        <div class="row">
            <div class="col">
                <h3 style="color: #FFFFFF;">Sign In Here</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="login_profile" method="POST">
                    <div class="form-group">
                        <br>
                        <input class="form-control"
                            style="color: #FFFFFF; border-radius: 34px; background-color: #485460; text-align: center; border-width: 3px; border-color: #FFFFFF;"
                            type="text" placeholder="Username" name="username" required>
                        <br>
                        <input class="form-control"
                            style="color: #FFFFFF; border-radius: 34px; background-color: #485460; text-align: center; border-width: 3px; border-color: #FFFFFF;"
                            type="password" placeholder="Password" name="password" required>
                        <br>
                        <div align="center" class="but">
                            <button class="btn btn-success mb-2" type="submit"
                                style="background-color: #05C46B; border-radius: 34px; border-color: #FFFFFF; border-width: 3px;">Sign
                                In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p style="color: #FFFFFF;">Don't have an account yet? <a class="slink" href="/signup">Sign up here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}